<div class="section-body">
    <h2 class="section-title">Dashboard</h2>
    <p class="section-lead">Data Map Kecamatan <%= districtActive.nama || 'Not Set' %>.</p>
    <div class="card">
        <div class="card-body text-center">
            Tidak Ada Map Yang Diaktifkan <br>
            <a href="/districts">Aktifkan disini</a>
        </div>
    </div>
</div>